// $main-bg: coral;
// $main-text: green;

// $desctop-h1: 32px;
// $tablet-h1: 24px;
// $mobile-h1: 16px;

/// variables ->
 
//PRIMARY colors

$first-color:#33836E;

$second-color:#1a77a3;

$third-color:#e5e5e5;

$fourth-color:#81d2bc;

$fifth-color:#d7e8ef;

$sixth-color:#1c77a4;

///neutral colors

$black-color:#000000;

$white:#FFFFFF;

///bg-colors
$blue-bakground:#115B82;
$gray-background:rgba(47, 43, 67, 0.40);
$gray:rgba(47, 43, 67, 0.50);
$black1: #140a32;
$gray2:rgba(47, 43, 67, 0.15)



